/*
Logo colours are:
  yellow - #FCCF00;
  blue - #2468B1;
  background image: #06afe8, #1ecbad;
*/

body {
  background-color: #06afe8;
  font-family: 'Courgette, Merienda' , sans-serif;
  /*font-family: 'Press Start 2P', cursive;*/
  background-size: cover;
  font-weight: 400;
  font-size: 24px;
  color: #2468B1;
}

h1 {
  text-shadow: 1px 2px #FCCF00;
  text-decoration: underline;
  background-color: inherit;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #2468B1;
  margin: 16px;
}

h2 {
  text-transform: capitalize;
}

.pokemon-list {
  list-style-type: none;
  text-align: center;
  list-style: none;
  display: grid;
  padding: 0;
}

.pokemon-logo__img {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  max-height: 350px;
  max-width: 300px;
  display: block;
  height: auto;
}

.navbar {
  background-color: #06afe8;
}

.modal-content {
  background: #FCCF00;
}

.modal-body {
  background: #FCCF00;
  text-align: center;
}

.pokemon-list__button {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: all 0.5s ease 0s;
  text-transform: capitalize;
  margin: 2px 20% 2px 20%;
  background: #FCCF00;
  border-radius: 7px;
  padding: 10px 18px;
  text-align: center;
  font-size: 25px;
  color: #2468B1;
  width: 60%;
}

.pokemon-list__button:focus,
.pokemon-list__button:active {
  color: gray;
}

.pokemon-list__button:hover {
  transition: all 0.5s ease 0s;
  border-color: #06afe8;
  cursor: pointer;
  opacity: 0.9;
}

.pokemon-list__button:after {
  background-color: #FCCF00;
  opacity: 0.5;
}

.modal-title {
  font-size: 34px;
}

.pokemon-height,
.pokemon-weight,
.pokemon-type {
  font-size: 22px;
  text-align: left;
}

.pokemon-img {
  height: 170px;
}
